services:
  backend:
    build:
      target: development
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      DEBUG: "1"
      DJANGO_ENV: development

  frontend:
    build:
      target: development
    volumes:
      - ./frontend:/app
      # - /app/node_modules
    ports: 
      - "5173:5173"

  db:
    ports:
      - "5432:5432"