name: CI

on:
  push:
    branches: [main]
    paths:
      - "backend/**"

jobs:
  call-backend-ci:
    uses: FlorianM34/TB-OPS/.github/workflows/ci.yml
    secrets:
        GH_PAT: ${{ secrets.GH_PAT }}
