name: CI

on:
  push:
    branches: [main]
    paths:
      - "backend/**"

jobs:
  call-backend-ci:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:15
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    uses: FlorianM34/TB-OPS/.github/workflows/backend-ci.yml@main
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}